.profile__username-and-edit-button-container {
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 530px) {
  .profile__username-and-edit-button-container {
    gap: 10px;
    padding-left: 30px;
  }
}
