.photo-cards__like-button {
  border: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.5s ease 0s;
  background: url(../../../images/buttons/heart_button_disabled.svg) no-repeat;
}

.photo-cards__like-button:hover {
  opacity: 0.6;
}
