.profile__caption {
  margin: 0;
  padding-top: 8px;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 530px) {
  .profile__caption {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
