.profile__avatar {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  cursor: pointer;
  object-fit: cover;
}

.profile__avatar:hover {
  opacity: 0.2;
}

.profile__avatar:hover + .profile__avatar-edit-image {
  display: block;
  background: none;
}