.profile__title-edit-container {
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 917px) {
  .profile__title-edit-container {
    gap: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__title-edit-container {
    padding-left: 25px;
  }
}
