.profile__add-button {
  padding: 0;
  width: 150px;
  height: 50px;
  background: url(../../../images/buttons/add_button.svg) no-repeat center;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.5s ease 0s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 917px) {
  .profile__add-button {
    max-width: 583px;
    margin-top: 32px;
    padding: 17px 0;
    width: 100%;
    background-size: 16px;
  }
}
