.profile__main-information {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 530px) {
  .profile__main-information {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
}
