.footer {
  padding-top: 66px;
  padding-bottom: 60px;
}

@media screen and (max-width: 920px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
  }
}
