.header {
  padding-top: 45px;
  padding-bottom: 38px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    padding: 27px 0 28px 27px;
    box-sizing: border-box;
  }
}
