.page__container {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 918px) {
  .page__container {
    padding-right: 19px;
    padding-left: 19px;
  }
}

@media screen and (max-width: 320px) {
  .page__container {
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
