.photo-cards__delete-button {
  display: none;
  background: url(../../../images/buttons/trash1.svg) no-repeat;
  position: absolute;
  border: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity 0.5s ease 0s;
}

.photo-cards__delete-button:hover {
    opacity: 0.6;
}